*{
margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
header{
    background:url(photo/photo.jpg);
    width: 100%;
    position: fixed;
    z-index: 20px;
    padding: 5px;

}
header .logo{
    float: left;
    margin: 16px;
    color: rgb(126, 134, 8);
    cursor: pointer;
    font-family: 'Kaushan Script', cursive;



}
header .logo h1{
   display: inline-block;

}
header .logo h1:hover{
    cursor: pointer; 
    color: orange;
}
header .menu{
    float: right;
    color: white; 

}
header .menu li{

    display: inline-block;
    padding:0 20px ;
    font-size: 20px;
}
header .menu li:hover{
    cursor: pointer;
    color: orange;
}
.clear{
    clear: both;
}

#basliq{background: url(photo/photo.jpg);
    padding: 15em;
    height:100vh;
    width: 100%;
    text-align: center;color: white;
}
#basliq h3{
    font-size: 30px;
}
#basliq h1{font-size: 45px;

}
.btn.btn1{
    margin-top:15px  40px;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    border: none;}
.btn.btn1:hover{
    background: rgb(224, 185, 11);
}
.clear{
    clear: both;
}
.servic{
    padding: 4em 0;
    width: 100%;
    margin:40px;
    float: left;
    margin: auto;
    text-align: center;
}
.servic h1{
    text-align: center;

}
.servic p{
    text-align: center;
    color:rgb(61, 60, 60);
    font-size: 19px;
}
.servic .ser-itm{
    float: left;
    width: 33.333%;
    border-radius: 5px;
margin-top: 19px;
}
.ser-itm i{
    background-color:gold;
    color: white;
    border-radius: 6em;
    padding: 30px;

}
.ser-itm i:hover{
border-radius: 9em;

    
}
    .ser-itm h1{color: black;

    }
    .ser-itm p{
        color: rgb(77, 76, 76);
    }
.clear{
    clear: both}

.port h1{text-align: center;

}
    
     .port img{ 
        background-color: rgb(226, 167, 78);

}
.port i{
    text-align: center;
}
.port-item{ text-align: center;
    float: left;
    
}
.port .port-item{text-align: center;

}
.port .port-item:hover{
    opacity: 0.8;
     visibility: visible;
    }
.about{text-align: center;
    float: left;
    padding:   45px 50px;
    margin: auto;

}
.about  h1{
    font-size: 70px;
    text-align: center; 
}
.about p{
    font-size: 15px;text-align: center;
}
.about .ilk img{
    border-radius:100px ;
    float: right;
}
.about .ilk {

}
.bosluq1{
width:4em;
margin: 13em 40px;

}
.march{
    text-align: center;
    float: right;
    margin: 10em 5em;
}
.march img{
    border-radius: 100px;
    float: left;
    text-align: center;
}
.bosluq2{
    width: 4em;
    margin: 10em 40px;
}

.dec{
     text-align: center;
     float: right;
     margin: 10em 5em;

}
.dec img{
    border-radius: 100px;
    float: right;
    text-align: center;
}
.bosluq3{
    margin: 10em 40px;
    width: 4em;
}
.july{

    text-align: center;
    float: right;
    margin: 10em 5em;
}
.july img{
    border-radius: 100px;
    float: left;
    text-align: center;
}
.clear{
    clear: both;
}
.bosluq4{
    margin: 10em 5em;
    width: 4em;}
.btn1{
    background: orange;
    padding:6em 2em;
border-radius: 100px;
}
.btn1:hover{
    background: rgb(228, 184, 102);
}